{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<h3>Based on selected logistic regrssion</h3>
{% for k,v in ans.items() %}

<br>{{k}} -> {{v}}



{% endfor %}

<h3>¿Cómo puedo prevenir o retrasar la aparición de la diabetes tipo 2?</h3>
<p>Si está en riesgo de desarrollar diabetes, es posible que pueda evitarla o retrasarla. La mayoría de las cosas que debe hacer implican un estilo de vida más saludable. Si realiza estos cambios, obtendrá además otros beneficios de salud. Puede reducir el riesgo de otras enfermedades y probablemente se sienta mejor y tenga más energía. Los cambios son:</p>
<ul>
<li><strong>Perder peso y mantenerlo.</strong> El <a href="https://medlineplus.gov/spanish/weightcontrol.html">control del peso</a> es una parte importante de la prevención de la diabetes. Es posible que pueda prevenir o retrasar la diabetes al perder entre el cinco y el 10 por ciento de su peso actual. Por ejemplo, si pesa 200 libras (90.7 kilos), su objetivo sería perder entre 10 y 20 libras (4.5 y 9 kilos). Y una vez que pierde el peso, es importante que no lo recupere</li>
<li><strong>Seguir un plan de alimentación saludable.</strong> Es importante reducir la cantidad de calorías que consume y bebe cada día, para que pueda perder peso y no recuperarlo. Para lograrlo, su <a href="https://medlineplus.gov/spanish/diets.html">dieta</a> debe incluir porciones más pequeñas y menos grasa y azúcar. También debe consumir alimentos de cada grupo alimenticio, incluyendo muchos granos integrales, frutas y verduras. También es una buena idea limitar la carne roja y evitar las carnes procesadas</li>
<li><strong>Haga ejercicio regularmente.</strong> El ejercicio tiene muchos <a href="https://medlineplus.gov/spanish/benefitsofexercise.html">beneficios</a> para la salud, incluyendo ayudarle a perder peso y bajar sus niveles de azúcar en la sangre. Ambos disminuyen el riesgo de diabetes tipo 2. Intente hacer al menos 30 minutos de actividad física cinco días a la semana. Si no ha estado activo, hable con su proveedor de salud para determinar <a href="https://medlineplus.gov/spanish/exerciseandphysicalfitness.html">qué tipos de ejercicios</a> son los mejores para usted. Puede comenzar lentamente hasta alcanzar su objetivo</li>
<li><strong>No fume.</strong> Fumar puede contribuir a la resistencia a la insulina, lo que puede llevar a tener diabetes tipo 2. Si ya fuma, intente <a href="https://medlineplus.gov/spanish/quittingsmoking.html">dejarlo</a></li>
<li><strong>Hable con su proveedor de atención médica</strong> para ver si hay algo más que pueda hacer para retrasar o prevenir la diabetes tipo 2. Si tiene un alto riesgo, su proveedor puede sugerirle tomar algún <a href="https://medlineplus.gov/spanish/diabetesmedicines.html">medicamento para la diabetes</a></li>
<li><strong>Presión alta</strong> Casi 1 de cada 3 adultos estadounidenses tiene presión alta. El corazón debe esforzarse más cuando usted tiene la presión alta, y su riesgo de enfermedades del corazón, derrame y otros problemas aumenta.</li>
<li><strong>colesterol</strong>El colesterol es un tipo de grasa que circula por el cuerpo en dos tipos de compuestos o lipoproteínas. Es importante tener un nivel sano de ambos.
    <a href="https://medlineplus.gov/spanish/diabetesmedicines.html">medicamento para la diabetes</a></li>
</ul>

<div class="container">

  <p class="attribution">NIH: Instituto Nacional de la Diabetes y las Enfermedades Digestivas y Renales</p></div>
                                
  <p>https://medlineplus.gov/spanish/howtopreventdiabetes.html</p>
  
  
  {% for k,v in result.items() %}
  
  <br>{{k}}->{{v}}
  
  
  
  {% endfor %}
  
</div>



{% endblock %}
